@import "tailwindcss";

@font-face {
  font-family: 'primary';
  src: url('/fonts/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'secondary';
  src: url('/fonts/THEBOLDFONT-FREEVERSION.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tertiary';
  src: url('/fonts/RawglyRegular-MVyWP.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #eeeeee;
  --foreground: #1e1e1e;
  --font-primary: 'primary';
  --font-secondary: 'secondary';
  --font-tertiary: 'tertiary';
}